$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.welcome-text{
    font-size: 24;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}

.text{
    font-size: 12;
    color: rgb(0, 0, 0);
    text-align: center;
}

.welcome-img{
    height: 100;
    width: 100;
}

.my-button {
    android-elevation: 4;
    background-color: $nav-color;
    border-radius: 20;
    color: whitesmoke;
    font-size: 18;
    font-weight: bold;
    width: auto;
    height: 100;
}
