$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.welcome-text{
    font-size: 24;
    font-weight: bold;
    background-color: $jumbo-color;
    color: #fff;
    text-align: center;
}

.welcome-img{
    height: 100;
    width: 100;
}