<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1 style="font-size:50px;">Crear: {{module.name}} </h1>
            </div>
            <!--
            <div class="col-1">
                <a class="wt" [routerLink]="['../']">VOLVER</a>
            </div>
            -->
        </div>
    </div>
</div>
<div class="container-fluid cont-fluid pt-5">
    <div class="row">
        <div class="col-12 col-md-7">
            <!-- LEFT ROW  -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10">
                        <app-edit-files [files]="files" ></app-edit-files>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-edit-questions [questions]="questions" ></app-edit-questions>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <app-edit-displayer [sections]=sections></app-edit-displayer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div type="button" (click)="sectionButtonsCollapsed = !sectionButtonsCollapsed" aria-controls="collapseExample" [attr.aria-expanded]="!sectionButtonsCollapsed" class="btn mb-5 add-section col-12 d-flex justify-content-center">
                            <p>Agregar Sección</p>
                        </div>
                        <div id="collapseExample" [ngbCollapse]="sectionButtonsCollapsed">
                            <div class="row mt-2">
                                <div class="col-12 col-md-6 align-self-center" *ngFor="let option of sectionOptions; let i=index">
                                    <div (click)="addSection(i)" class="hoverable clickable section-option">
                                        <h2 class="text-center">{{option}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 order-first order-md-last">
            <!-- RIGHT ROW  -->
            <div class="container-fluid pt-0 pt-md-5">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success btn-lg col-12" (click)="submitSections()">Confirmar Cambios</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-lg col-12" [routerLink]="['/modulos']" >Descartar Cambios</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <app-edit-module-info class="mt-4" [module]=module [imageProxy]="imageProxy" [moduleImage]="moduleImage" [bannerImage]="bannerImage"></app-edit-module-info>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
