<StackLayout>
    <ScrollView orientation="vertical"  height="1000">
        <StackLayout>

            <gridlayout rows="*, *, *, *" columns="*" backgroundColor="black">
                <Image rowspan="5" col="0" src="res://banner_educator" stretch="aspectFill" class="banner-img"></Image>
                <Label row="2" col="0" text="Persona Educadora" class="header-text" textWrap="true"></Label>
                <Label row="5" col="0" text="Fotógrafo: Giancarlo Pucci" class="credit-text" textWrap="true"></Label>
            </gridlayout>


            <Label text="Las personas que realizan actividades de educación ambiental en el Área de Conservación La Amistad Pacífico pueden registrarse en esta plataforma para compartir sus logros al utilizar nuestras herramientas de educación ambiental y contribuir en el mejoramiento continuo de nuestro programa."
            class="text-body" textWrap="true" ></Label>

            <Label text="Complete este formulario para registrarse como Persona Educadora"
            class="text-subtitle-first-1" textWrap="true" ></Label>

            <Label text="Nombre" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtFirstName" required hint="Nombre" class="input input-border input-form"></TextField>
            
            <Label text="Apellidos" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtLastName" required hint="Apellidos" class="input input-border input-form"></TextField>
            
            <Label text="Número de teléfono" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtNumber" required hint="8888-4444" class="input input-border input-form"></TextField>

            <Label text="Correo electrónico" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtEmail" required hint="usuario@correo.com" class="input input-border input-form"></TextField>

            <Label text="Organización" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtOrg" required hint="Organización" class="input input-border input-form"></TextField>

            <Label text="Dirección" class="text-subtitle"></Label>
            <TextField [(ngModel)]="txtAddress" required hint="Distrito, Cantón, Provincia" class="input input-border input-form"></TextField>
            
            <Label text="Fecha de nacimiento" class="text-subtitle"></Label>
            <DatePicker [(ngModel)]="pickerDate" 
                year="1980" month="4" day="20"
                [minDate]="minDate" [maxDate]="maxDate"
                verticalAlignment="center">
            </DatePicker>

            <Button text="Enviar" class="btn btn-primary btn-send" (tap)="onSubmit()"></Button>


        </StackLayout>
    </ScrollView>
</StackLayout>