@use '../../app.component.scss';

@media (min-width: 768px) {
    .jumbotron {
        height: 300px;
    }
}

h5{
    font-size: 12px;
}

span{
    font-size: smaller;
}

.title{
    backdrop-filter: blur(5px)  brightness(50%) drop-shadow(4px 4px 10px black);
}


.info{
    background-color: app.$gray-dark;
    color: white;
}

@media (min-width: 992px) {
    .jumbotron {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        height: 500px;
    }
}

.jumbotron{
    background-color: app.$jumbo-color;
    color: whitesmoke;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
}

.header-image{
    background-position: 50% 50%; 
}

.image-bg{
    height: 300px;
}

.btn-goto{
    background-color: app.$button-color;
    color: white;
}

.row-content{
    margin: 0px auto;
    padding: 15px 0px 50px 0px;
    min-height: 100px;
}