@use '../../../app.component.scss';


.card-header{
    background-color: app.$nav-color;
    color: whitesmoke;
}

label{
    font-weight: bold;
}

.bd{
    border-width: 3px;
    border-radius: 13%;
}