<!-- REFACTORING -->
<div class="row">
    <h3>Información general del Módulo</h3>
</div>
<form [formGroup]="moduleForm">
    <div class="row mt-3">
        <div class="form-group col-6">
            <label class="label" for="name">Nombre del módulo</label>
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="module.name">
        </div>
        <div class="col-6">
            <label class="label" for="recommendedAge">Edad recomendada</label>
            <select class="form-control" formControlName="recommendedAge" [(ngModel)]="module.recommendedAge">
                <option *ngFor="let age of ageRange">
                    {{age}}
                </option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="modal-title">
                        Foto de módulo
                    </span>
                </div>
                <div class="card-body">
                    <app-edit-image [image]=moduleImage [imageProxy]="imageProxy" [noMetadata]="true"></app-edit-image>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="modal-title"> Foto de Banner</span>
                </div>
                <div class="card-body">
                    <app-edit-image [image]=bannerImage [imageProxy]="imageProxy" [noMetadata]="true"></app-edit-image>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-12">
            <label for="antecedents">Antecedentes</label>
            <textarea class="form-control" formControlName="antecedents" [(ngModel)]="module.antecedents" rows="5"></textarea>
        </div>
        <div class="form-group col-12">
            <label for="objective">Objetivo</label>
            <textarea class="form-control"  formControlName="objective" [(ngModel)]="module.objective" rows="5"></textarea>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-header">
        <h4>Materias</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="disciplineForm">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="label"> Materia </label>
                        <select class="form-control" formControlName="subject" [(ngModel)]="discipline.subject">
                            <option *ngFor="let sub of disciplines.subjects" [ngValue]="sub"> {{sub.name}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="label"> Año </label>
                        <select class="form-control" formControlName="year" [(ngModel)]="discipline.year">
                            <option *ngFor="let year of disciplines.years"> {{year}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label class="label"> Eje temático </label>
                    <textarea class="form-control" formControlName="theme" [(ngModel)]="discipline.theme" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <span class="btn btn-success" (click)="addDiscipline()"> Añadir Materia</span>
                </div>
            </div>
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Año</th>
                    <th scope="col">Eje temático</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let d of module.disciplines; index as i">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{d.subject.name}}</td>
                        <td>{{d.year}}</td>
                        <td>{{d.theme}}</td>
                        <td> 
                            <span class="btn btn-danger" (click)="module.disciplines.splice(i,1)"> Eliminar </span> 
                        </td>
                        <!-- <app-edit-disciplines [discipline]="d" ></app-edit-disciplines> -->
                    </tr>
                </tbody>
            </table>
            
        </form>
    </div>
    
</div>

<div class="row" style="margin-top: 200px;">
    <h2>Zona Peligrosa</h2>
</div>
<div class="row border rounded border-danger mb-md-5">
    <div class="col-9 my-3">
        <div class="row" style="margin-left: 12px;">
            <h5 class="text-bold">Eliminar módulo</h5>
        </div>
        <div class="row" style="margin-left: 12px;">
            <span class="text">
                Posteriormente a esta accion, este módulo será inaccesible
            </span> 
        </div>
    </div>
    <div class="col-auto my-4" >
        <span class="btn delete border" style="color: brown;" (click)="deleteModule()">Eliminar módulo</span>
    </div>
</div>