<div class="jumbotron">
    <div class="container">
        <div *ngIf="isAdmin" class="">
            <div class="row">
                <h1 class="text-center col-12">Administrador</h1>
            </div>
        </div>
        <div *ngIf="isEducator" class="">
            <div class="row">
                <h1 class="text-center col-12">Persona Educadora</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5 col-md-3">
                <h1>{{ user.name }} {{ user.lastname }}</h1>
            </div>
            <div class="col-12 col-sm-5 col-md-2 offset-sm-2 offset-md-7 ">
                <img class="img-responsive rounded-circle
                7" [src]="user.imageUrl" [alt]="'imagen de perfil de' + user.name">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="tabIndex" class="nav-pills">
        <li [ngbNavItem]="1">
            <a *ngIf="isAdmin" ngbNavLink>{{ tabTags[0] }}</a>
            <a *ngIf="isEducator" ngbNavLink>{{ tabEducator[0] }}</a>
            <ng-template ngbNavContent>
                <div *ngIf="isAdmin">
                    <div class="row">
                        <h1> Lista de Módulos de aprendizaje </h1>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-implementable-list [list]="modules" [isAdmin]="isAdmin"></app-implementable-list>
                        </div>
                    </div>
                </div>
                <div *ngIf="isEducator">
                    <div class="row">
                        <h1> Lista de implementaciones no finalizadas </h1>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-implementation-list [unfinished]="true"></app-implementation-list>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a *ngIf="isAdmin" ngbNavLink>{{ tabTags[1] }}</a>
            <a *ngIf="isEducator" ngbNavLink>{{ tabEducator[1] }}</a>
            <ng-template ngbNavContent>
                <div *ngIf="isAdmin" class="">
                    <div class="row">
                        <h1> Lista de Eventos </h1>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-implementable-list [list]="events" [isAdmin]="isAdmin"></app-implementable-list>
                        </div>
                    </div>
                </div>
                <div *ngIf="isEducator" class="">
                    <div class="row">
                        <h1> Lista de implementaciones finalizadas </h1>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-implementation-list [finished]="true"></app-implementation-list>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" *ngIf="isAdmin">
            <a ngbNavLink>{{ tabTags[2] }}</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <h1> Solicitudes Pendientes</h1>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ngb-accordion [closeOthers]="true">
                            <ngb-panel class="btn-success"  *ngFor="let req of pendingRequests; index as i" id="request-{{i}}" title="Solicitud: {{req.name}} {{req.lastname}} - {{req.email}}" >
                                
                                <ng-template ngbPanelContent>
                                    <app-educator-application [application]="req" >
                                    </app-educator-application>
                                    <div class="row">
                                        <div class="col">
                                            <span (click)="onDeclineRequest(i)" class="btn btn-danger">Rechazar socilitud</span>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <span (click)="onAcceptResquest(i)" class="btn btn-success">Aceptar socilitud</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="4" >
            <a ngbNavLink> Editar Perfil </a>
            <ng-template ngbNavContent>
                <div class="row">
                    <app-profile-edit></app-profile-edit>
                </div>
            </ng-template>
        </li>
    </ul>
</div>
<div id="main-content" class="container">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>