
<StackLayout>
    <ScrollView orientation="vertical"  height="1000">
        <StackLayout orientation="vertical">

            <Gridlayout height="50" columns="auto, *, auto" rows="auto, 25" backgroundColor="#1c81a9">
                <Label col="1" rowSpan="2" text="{{ user.name }}" horizontalAlignment="left" class="user-text"></Label>
                <Button col="2" rowSpan="2" text="Logout" horizontalAlignment="right" class="btn btn-primary btn-logout"></Button>
            </Gridlayout>

            <StackLayout *ngFor="let implementation of implementationsIncomplete; index as i" orientation="vertical">

                <Label row="0" col="0" text="{{ implementation.implementableName }}" class="subtitle-text-impl"></Label>

                <!-- <Card:CardView class="cardStyle" margin="10" elevation="10" shadowColor="#FE00FC" shadowOpacity="1" radius="25" ripple=true>
                    <GridLayout columns="auto, *, auto" rows="auto, *, auto">
                        <Label row="0" col="0" text="{{ implementation.implementableName }}" class="subtitle-text-impl"></Label>
                        <Button row="0" col="1" text="Editar" class="btn btn-primary btn-implEdit"></Button>
                        <Button row="0" col="2" text="Eliminar" class="btn btn-primary btn-implRemover"></Button>
                    </GridLayout>
                </Card:CardView> -->

            </StackLayout>

        </StackLayout>
    </ScrollView>
</StackLayout>