$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.header-text{
    font-size: 36;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.bg-title-text{
    background-color: $nav-color;
    font-size: 16;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.title-text{
    font-size: 24;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.text-impl{
    text-align: left;
    margin-left: 15;
    margin-top: 5;
}

.subtitle-text-impl{
    color: #000000;
    font-weight: bold;
    font-size: 22;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.text{
    font-size: 12;
    color: rgb(0, 0, 0);
    text-align: center;
}

.reset-text{
    font-size: 12;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 15;
    margin-top: 35;
}

.date-text{
    font-size: 12;
    color: #596668;
    text-align: left;
    margin-left: 15;
    margin-bottom: 10;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.text-completed{
    font-size: 12;
    font-weight: bold;
    color: #528f41;
    text-align: left;
    margin-left: 15;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.text-incomplete{
    font-size: 12;
    font-weight: bold;
    color: #f13939;
    text-align: left;
    margin-left: 15;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.user-text{
    font-size: 26;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10;
    margin-top: 8;
    font-family: 'Proxima_Bold', 'Proxima_Bold';
}

.user-img{
    height: 50;
    width: 50;
    border-radius: 50%;
    margin: 5;
}

.btn-logout {
    background-color: #f13939;
    font-size: 12;
    height: 40;
    width: 40;
    color: #ffffff;
    font-size: 18;
    font-family: "Font Awesome 5 Free", "fa_solid_900";
}

.btn-edit {
    background-color: #Ef6423;
    font-size: 12;
    height: 40;
    width: 40;
    margin-right: 50;
    color: #ffffff;
    font-size: 18;
    font-family: "Font Awesome 5 Free", "fa_solid_900";
}

.btn-implRemover {
    color: #ffffff;
    border-radius: 3;
    background-color: #f13939;
    font-size: 12;
    font-weight: bold;
    width: 20;
    height: 20;
    margin-right: 15;
    margin-top: 15;
}
