@use '../app.component.scss';

$module-color: #206A5D;
$l-grey: #F8F8F8;
$break-small: 320px;

.module-header{
    background-color: $module-color;
    color: whitesmoke;
}

.card-bg{
    background-color: $l-grey;
}

.row-p{
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.card-title{
    font-size: 36px;
}


