<div class="row row-content d-flex justify-content-center">
    <div class="col-auto">
        <div class="card"> <!--TODO: corregir style -->
            <div class="row no-gutters">
                <div class="col-12 col-md-4" [style.background-image]="'url(' + module.imageUrl + ')'" [style.min-height]="'150px'">
                </div>
                <div class="col-12 col-md-8 hoverable" [routerLink]="['/modulos',module.id]">
                    <div class="container-fluid flex-grow-1">
                        <div class="row module-header align-items-center">
                            <div class="col-12">
                                <h5 class="card-title">{{ module.name }}</h5>
                            </div>
                        </div>
                        <div class="row flex-grow-1 card-bg">
                            <div class="card-body container">
                                <div class="row d-flex justify-content-md-end">
                                    <div class="col-auto">
                                        <!-- <p class="card-text"> En proceso </p> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <app-discipline *ngFor="let d of module.disciplines" [discipline]="d" ></app-discipline>
                                    </div>
                                </div>
                                <div class="row row-p">
                                    <!-- <div class="col-sm-12 col-md-8">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        Actividades 1/2
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
