<StackLayout>
    <ScrollView orientation="vertical"  height="1000">
        <StackLayout orientation="vertical">

            <gridlayout rows="*, *, *, *" columns="*" backgroundColor="black">
                <Image rowspan="3" col="0" src="res://biolley_cielo" stretch="aspectFill" class="banner-img"></Image>
                <Label row="1" col="0" text="Acerca de ACLA-P" class="header-text" textWrap="true"></Label>
            </gridlayout>

            <StackLayout *ngFor="let part of aboutUsText.split('\n')" orientation="vertical">
                <Label text="{{ part }}" class="body-text" textWrap="true"></Label>
            </StackLayout>

            <Label text="Términos y Condiciones" class="title-text" textWrap="true"></Label>

            <Label
            text= "Las herramientas, información y materiales descargables que se comparten son para uso educativo solamente. No se permite la reproducción de estos con fines comerciales. Por favor respetar los créditos que se encuentran especificados."
            class= "body-text" textWrap="true" ></Label>

        </StackLayout>
    </ScrollView>
</StackLayout>