<app-img-header [bg_img]="bg_img" [credit]="credit" class=".header-con"></app-img-header>
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <span>
                <h1>
                    Acerca de ACLA-P
                </h1>
            </span>
        </div>
        <div class="col-12 mt-3">
            <p class="text-justify" *ngFor="let part of aboutUsText.split('\n')">
                {{ part }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-flex justify-content-center">
            <a href="http://www.sinac.go.cr/ES/ac/aclap/Paginas/default.aspx" style="width: 100%; margin-top: 50px;"> 
                <img class="img-fluid" href="http://www.sinac.go.cr/ES/ac/aclap/Paginas/default.aspx" style="width: 100%;" src="../../../assets/aclap-logo.svg"> 
            </a>
        </div>
        <div class="col">
            <img class="img-fluid" src="../../../assets/logo-alpha.png">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2>Términos y Condiciones</h2>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let paragraph of terms.split('\n')" class="col-12">
            <p class="text-justify">
                {{ paragraph }}
            </p>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col">
            <p class="text-justify">
                Esta aplicación fué desarrollada y donada por estudiantes del Instituto Tecnológico de Costa Rica como parte del curso de Proyecto de Ingeniería de Software, durante el segundo semestre del 2020 bajo supervisión de la profesora María Estrada Sánchez. Los siguientes estudiantes desarrollaron esta aplicación:
            </p>
            <li>
                Alejandro José Schmidt Ramírez
            </li>
            <li>
                Josué Daniel Canales Mena
            </li>
            <li>
                Jose Fabio Pérez Alpizar
            </li>
        </div>
    </div>
    <hr>
</div>