<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <h1 style="font-size:50px;">Módulos de aprendizaje</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-content">
            <div class="col-12">
                <div class="btn clickable btn-lg col-12" [routerLink]="['/crear','modulo']">
                    Agregar Módulo
                </div>
            </div>
        </div>
        <div class="row row-content d-flex justify-content-center">
            <app-module-card-list></app-module-card-list>
        </div>
    </div>
</div>