<div class="container">
    <div class="row my-3 d-flex justify-content-center">
        <div class="col-md-6">
            <img class="img-fluid" src="../../../../assets/aliados.svg" />
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">             
            <div class="col-6 ">
                <ul class="list-unstyled footer-text">
                    <li><a [routerLink]="['/inicio']">Inicio</a></li>
                    <li><a [routerLink]="['/perfil']">Perfil</a></li>
                    <li><a [routerLink]="['/modulos']">Módulos</a></li>
                    <li><a [routerLink]="['/eventos']">Eventos</a></li>
                    <li><a [routerLink]="['/acerca-de']">Acerca de</a></li>
                    <li><a [routerLink]="['/aliados']">Aliados administrativos</a></li>
                </ul>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <ul class="list-unstyled footer-text">
                    <li><a [routerLink]="['/persona-educadora']">Persona Educadora</a></li>
                    <li><a [routerLink]="['/login']">Ingresar</a></li>
                </ul>
            </div>
       </div>
       <div class="row justify-content-center">             
            <div class="col-auto" style="color: white;">
                <p>© Copyright 2020-2021 ACLA-P EDUCA</p>
            </div>
       </div>
    </div>
</footer>
