<form [formGroup]=form >
    <div class="form-group row">
        <label for="description" class="col-xl-2 col-form-label">Descripción</label>
        <div class="col-xl-10">
            <input formControlName=description class="form-control" [(ngModel)]="activity.description" />
        </div>
    </div>
    <div class="form-group row">
        <label for="estimatedMinutes" class="col-xl-2 col-form-label">Minutos Estimados</label>
        <div class="col-xl-2">
            <select class="form-control" formControlName="estimatedMinutes" [(ngModel)]="activity.estimatedMinutes">
                <option *ngFor="let minute of availableMinutes">
                    {{minute}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="tools" class="col-xl-2 col-form-label">Útiles Necesarios</label>
        <div class="col-xl-10">
            <input formControlName=tools class="form-control" [(ngModel)]="activity.tools"/>
        </div>
    </div>
</form>
