<div class="jumbotron jumbotron-fluid header-image" [ngStyle]="{backgroundImage:'url('+ bg_img +')'}">

</div>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>Módulos educativos</h1>
        </div>
        <div class="col-12 mt-3"> <!--CHANGE TO STRINGS FROM FIREBASE-->
            <p class="text-justify" *ngFor="let paragraph of description.split('\n') ">
                {{paragraph}}
            </p>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-12">
            <a *ngIf="isAdmin" class="btn clickable btn-lg col-12" [routerLink]="['/crear','modulo']">
                Agregar Módulo
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2" *ngFor="let module of modules" [routerLink]="['/modulos',module.id]">
            <app-module-card [module]="module"></app-module-card>
        </div>
    </div>
</div>