/*
$jumbo-color: #74a56f;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#206A5D;
$gray-dark: #596668;
$l-grey: #d3d8d8;
*/

$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$green-color: #528f41;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.row-content{
    margin: 0px auto;
    padding: 15px 0px 50px 0px;
    min-height: 100px;
}

.header-image{
    background-size: cover;
}

.button{
    background-color: $nav-color;

    h2{
        color: $l-grey;
    }
}

.jumbotron{
    background-color: $nav-color;
    color: whitesmoke;
    padding: 90px 30px 20px 30px;
    margin: 0px auto;
    display: flex;
}

.lime{
    background-color: $lime-color;
    color: whitesmoke;
}

.wt{
    color: whitesmoke;
}

.clickable{
    cursor: pointer;
}

.fill { 
    min-height: 100%;
    height: 100%;
}