$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.btn-nav{
    background-color: #d3d8d8;
    color: #23AEE5;
    font-size: 16;
    border-radius: 4;
    height: 40;
    width: 160;
}

.btn-nav:active{
    background-color: #Ef6423;
    color: #d3d8d8;
    font-size: 16;
    border-radius: 4;
    height: 40;
    width: 160;
}

.text-nav{
    color: #d3d8d8;
    font-size: 14;
    margin-left: 28;
}

.img-header{
    width: 200;
    height: 62;
    margin-top: 20;
    margin-bottom: 15;
}

StackLayout Button{
    color: $nav-color;
}

StackLayout{
    background-color: $nav-color;
}
