$jumbo-color: #23AEE5;
$button-color: #Ef6423;
$lime-color: #FAB521;
$nav-color:#1c81a9;
$gray-dark: #596668;
$l-grey: #d3d8d8;

.row-content{
    margin: 0px auto;
    padding: 15px 0px 50px 0px;
    min-height: 100px;
}

.jumbotron{
    background-color: $jumbo-color;
    color: whitesmoke;
    padding: 90px 30px 20px 30px;
    margin: 0px auto;
    display: flex;
}

.lime{
    background-color: $lime-color;
    color: whitesmoke;
}

.wt{
    color: whitesmoke;
}