$jumbo-color: #99D493;
$button-color: #E69E21;
$nav-color: #206A5D;

.row-content{
    margin: 0px auto;
    padding: 15px 0px 50px 0px;
    min-height: 100px;
}

.jumbotron{
    background-color: $jumbo-color;
    color: whitesmoke;
    padding: 90px 30px 20px 30px;
    margin: 0px auto;
    display: flex;
}