<div class="jumbotron jumbotron-fluid header-image" [style.background-image]="'url(' + module.bannerImageUrl + ')'">
    <div class="container-fluid fill d-flex align-items-center">
        <div class="col d-flex justify-content-center title">
            <div class="row my-5">
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <img class="img-fluid" [src]="module.imageUrl">
                </div>
                <div class="col">
                    <div class="row">
                        <h1>
                            {{module.name}}
                        </h1>
                    </div>
                    <div class="row">
                        <h3>
                            Fecha: {{dateFormat(module.date)}}
                        </h3>
                    </div>
                </div>
                <div *ngIf="isAdmin" class="col d-flex justify-content-end">
                    <a class="wt"  [routerLink]="['/eventos',module.id,'editar']"> EDITAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <div class="col-12 pt-3">
                <h3>Objetivo</h3>
                <p *ngFor="let objective of module.objective.split('\n')" class="text-justify">
                    {{ objective }}
                </p>
            </div>
        </div>
    </div>
    <div class="row row-content" style="margin-bottom: 50px;">
        <div class="col-md-4 mb-3"  style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/eventos',module.id,'guia-didactica']">
                <h2 class="my-auto text-center">Guía Didáctica</h2>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color" (click)="switchFiles()">
                <h2 class="my-auto text-center">Material descargables</h2>
            </div>
        </div>
        <div *ngIf="isEducator" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/eventos',module.id,'nueva-implementacion']">
                <h2 class="my-auto text-center">Implementar el evento</h2>
            </div>
        </div>
        <div *ngIf="isAdmin" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/perfil',module.name, module.id,'implementaciones']">
                <h2 class="my-auto text-center">Ver Implementaciones del evento</h2>
            </div>
        </div>
        <div *ngIf="isAnonymous" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 button clickable d-flex justify-content-center" [style.background-color]="module.color" [routerLink]="['/persona-educadora']">
                <h2 class="my-auto text-center">¿Qué significa ser una persona educadora?</h2>
            </div>
        </div>
    </div>
    <div class="div" *ngIf="showingFiles">
        <app-display-files [files]="files"></app-display-files>
    </div>
</div>
