@use '../../app.component.scss';

.jumbotron{
    background-color: app.$jumbo-color;
}

.container-fluid{
    max-width: 1250px;
}

@media (min-width: 768px) {
    .jumbotron {
        height: 300px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        height: 500px;
    }
}


.header{
    background-color: app.$nav-color;
    border-style: none;
}

.body-text{
    background-color: app.$l-grey;
}