@use '../../app.component.scss';

.card{
    margin-bottom: 0px;
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.card-header{
    background-color: app.$nav-color;
    color: white;

    button{
        color: white;
    }
}

.holder{
    margin-bottom: 50px;
}