
<!--<div *ngIf="isEditing">
    <td> Hola Mundo </td>
    <td><input formControlName=year class="form-control" [(ngModel)]="discipline.year" /></td>
    <td>{{discipline.theme}}</td>
    <td> <span class="btn btn-primary" (click)="isEditing = !isEditing"> Editar </span> </td>
</div>
<div *ngIf="isEditing === false">
    <td>{{discipline.subject.name}}</td>
    <td>{{discipline.year}}</td>
    <td>{{discipline.theme}}</td>
    <td> <span class="btn btn-primary" (click)="isEditing = !isEditing"> Editar </span> </td>
</div>
-->

<td>{{discipline.subject.name}}</td>
<td>{{discipline.year}}</td>
<td>{{discipline.theme}}</td>
<td> <span class="btn btn-primary" (click)="isEditing = !isEditing"> Editar </span> </td>

