@use '../../app.component.scss';


.left-col{
    background-color: #cacaca;
    border-radius: 3px 0px 0px 3px;
}

.modal-body{
    top: 0px;
    bottom: 0px
}

#main-content{
    min-height: 1000px;
}

span{
    a{
        color: white;
        text-decoration: underline;
    }
}

#log-card{
    background-color: app.$nav-color;
    color: white;
    .card-body{
        .btn{
            background-color: app.$button-color;
            color: white;
        }
    }
}