
<StackLayout>

    <StackLayout>
        <Image src="res://logo_flat" class="logo"></Image>
        <TextField [(ngModel)]="txtUsername" hint="Correo electrónico" class="input input-border input-login"></TextField>
        <TextField [(ngModel)]="txtPassword" hint="Contraseña" secure="true" class="input input-border input-login"></TextField>
        <Button text="Ingresar" class="btn btn-primary btn-login" (tap)="onSubmit()"></Button>
    </StackLayout>

    <Label class="center" (tap)="changePassword()">
        <FormattedString>
          <Span text="Olvidó su contraseña? "class="password-recov-text"></Span>
          <Span text="Presione aquí" class="password-recov-text-link"></Span>
        </FormattedString>
    </Label>

</StackLayout>
