

.card-img{
    display: block;
    min-height: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.kalim {
    display: inline-block;
    max-width: 500px; 
    max-height: 400px;}

.kalim img {
    max-width: 100%; 
    height:auto;
}