@use '../../app.component.scss';

.jumbotron{
    background-color: app.$jumbo-color;
    color: whitesmoke;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.header-image{
    background-size: cover;
    background-position: 50% 20%; 
}

.title{
    backdrop-filter: blur(5px)  brightness(50%) drop-shadow(4px 4px 10px black);
}

.image-bg{
    height: 300px;
}

@media (min-width: 768px) {
    .jumbotron {
        height: 300px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        height: 500px;
    }
}
