<StackLayout>
    <ScrollView orientation="vertical"  height="1000">
        <StackLayout orientation="vertical">

            <GridLayout rows="*, *, *, *" columns="*" backgroundColor="black">
                <Image rowspan="3" row="0" col="0" stretch="aspectFill" src="{{ module.bannerImageUrl }}" class="img-banner"></Image>
                <Label row="1" col="0" text="Modulo: {{ module.name }}" class="header-text" textWrap="true"></Label>
            </GridLayout>
            <Label text="Antecedentes" class="title-text" textWrap="true"></Label>
            <StackLayout *ngFor="let part of module.antecedents.split('\n')">
                <Label text="{{ part }}" textWrap="true"></Label>
            </StackLayout>
            <Label text="Objetivo" class="title-text" textWrap="true"></Label>
            <Label text="{{ module.objective }}" textWrap="true"></Label>
            <Button text="Guía didáctica" class="my-button" (tap)="navigateToDisplayer(module.id)"></Button>
            <Button text="Materiales de apoyo" class="my-button"></Button>
            <Button text="Implementa este módulo" class="my-button"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>