<StackLayout>
    <ScrollView orientation="vertical"  height="1000">
        <StackLayout orientation="vertical">

            <GridLayout rows="*, *, *, *" columns="*" backgroundColor="black">
                <Image rowspan="3" row="0" col="0" stretch="aspectFill" src="{{ module.bannerImageUrl }}" class="img-banner"></Image>
                <Label row="1" col="0" text="Modulo: {{ module.name }}" class="header-text" textWrap="true"></Label>
            </GridLayout>

            <StackLayout orientation="horizontal">

                <StackLayout orientation="vertical">

                    <Label text="Edad recomendada" class="subtitle-age-text" textWrap="true"></Label>
                    <Label text="{{ module.recommendedAge }}" class="body-text-backgrounds" textWrap="true"></Label>

                    <Label text="Materias" class="subtitle-theme-text" textWrap="true"></Label>
                    <StackLayout *ngFor="let discipline of disciplines" orientation="vertical">
                        <Card:CardView class="cardStyleDisciplines" elevation="2" shadowColor="#FE00FC" shadowOpacity="1" radius="10" ripple=false (tap)="showTheme(discipline.theme)">
                            <StackLayout>
                                <Label text="{{ discipline.subject.name }}" backgroundColor="{{ discipline.subject.color }}" class="text-discipline" textWrap="true"></Label>
                                <Label text="{{ discipline.year }}" backgroundColor="{{ discipline.subject.color }}" class="text-discipline" textWrap="true"></Label>
                            </StackLayout>
                        </Card:CardView>
                    </StackLayout>

                </StackLayout>

                <StackLayout orientation="vertical">
                    <Label text="Antecedentes" class="title-text" textWrap="true"></Label>
                    <Label text="{{ module.antecedents }}" textWrap="true" class="body-text-backgrounds"></Label>
                </StackLayout>

            </StackLayout>

            <Label text="Objetivo" class="title-text" textWrap="true"></Label>
            <Label text="{{ module.objective }}" textWrap="true" class="body-text-objectives"></Label>
            <Button text="Guía didáctica" class="my-button" (tap)="navigateToDisplayer(module.id)"></Button>
            <Button text="Materiales de apoyo" class="my-button" (tap)="navigateToDisplayFiles(module.id)"></Button>
            <Button text="Implementa este módulo" class="my-button" (tap)="navigateToQuestions_EducatorApplication(module.id)"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>