<div class="jumbotron jumbotron-fluid header-image" [style.background-image]="'url(' + module.bannerImageUrl + ')'">
    <div class="container-fluid fill d-flex align-items-center">
        <div class="col-12 title">
            <div class="row d-flex align-items-center my-5">
                <div class="col-12 col-md-4 col-lg-auto offset-xl-1 col-xl-3 d-flex justify-content-center">
                    <img class="img-fluid" [src]="module.imageUrl"  style="min-height: 150px; min-width: 150px; max-width: inherit; max-height: 200px;">
                </div>
                <div class="col-auto col-xl-6">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center">
                                {{module.name}}
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="text-center">
                                Edad recomendada: {{module.recommendedAge}}
                            </h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="isAdmin" class="col col-xl-2 d-flex justify-content-end">
                    <a class="wt"  [routerLink]="['/modulos',module.id,'editar']"> EDITAR</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngIf="module.disciplines.length > 0">
            <app-display-disciplines [disciplines]="module.disciplines" ></app-display-disciplines>
        </div>
        <div class="col">
            <div class="col-12">
                <h3>Antecedentes</h3>
                <ul class="list-group">
                    <p *ngFor="let part of module.antecedents.split('\n')" class="text-justify"> 
                        {{part}}
                    </p>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-12 pt-3">
                <h3>Objetivo</h3>
                <p *ngFor="let objective of module.objective.split('\n')" class="text-justify">
                    {{ objective }}
                </p>
            </div>
        </div>
    </div>
    <div class="row row-content" style="margin-bottom: 50px;">
        <div class="col-md-4 mb-3"  style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/modulos',module.id,'guia-didactica']">
                <h2 class="my-auto text-center">Guía Didáctica</h2>
            </div>
        </div>
        <div class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color" (click)="switchFiles()">
                <h2 class="my-auto text-center">Material descargable</h2>
            </div>
        </div>
        <div *ngIf="isEducator" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/modulos',module.id,'nueva-implementacion']">
                <h2 class="my-auto text-center">Implementar el módulo</h2>
            </div>
        </div>
        <div *ngIf="isAdmin" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 clickable button d-flex justify-content-center" [style.background-color]="module.color"  [routerLink]="['/perfil',module.name, module.id,'implementaciones']">
                <h2 class="my-auto text-center">Ver Implementaciones del módulo</h2>
            </div>
        </div>
        <div *ngIf="isAnonymous" class="col-md-4 mb-3" style="height: 250px;">
            <div class="card h-100 button clickable d-flex justify-content-center" [style.background-color]="module.color" [routerLink]="['/persona-educadora']">
                <h2 class="my-auto text-center">¿Qué significa ser una persona educadora?</h2>
            </div>
        </div>
    </div>
    <div class="div" *ngIf="showingFiles">
        <div class="row">
            <div class="col">
                <h1>
                    Material Descargable
                </h1>
            </div>
        </div>
        <app-display-files [files]="files"></app-display-files>
    </div>
</div>