@use '../../app.component.scss';

.jumbotron{
    background-color: app.$jumbo-color;
}

.header{
    background-color: app.$nav-color;
    border-style: none;
}

.body-text{
    background-color: app.$l-grey;
}