<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h1 style="font-size:50px;">Módulo: {{ module.name }}</h1>
                </div>
                <div class="col-1">
                    <a class="wt"  [routerLink]="['/modulos',module.id,'editar']"> EDITAR</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item active header"><h3>Antecedentes</h3></li>
                    <div *ngFor="let part of module.antecedents.split('\n')">
                        <li class="list-group-item"> {{part}} </li>
                    </div>
                </ul>
            </div>
            <div class="col-12 pt-3">
                <ul class="list-group">
                    <li class="list-group-item active header"><h3>Objetivos</h3></li>
                    <li class="list-group-item"> {{module.objective}} </li>
                </ul>
            </div>
        </div>
        <div class="row row-content">
            <app-displayer [sections]=sections></app-displayer>
        </div>
    </div>
</div>
