@use '../../app.component.scss';

.container-fluid{
    max-width: 1850px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .completed{
    background-color: app.$green-color;
    color: white;
 }

 .centering{
    margin: auto;
    position: relative;
    top: 0;
 }
