@use '../../app.component.scss';

.card{
    background-color: app.$button-color;
    color: white;
}

.jumbotron{
    max-height: fit-content;

    background-color: app.$nav-color;

    img{
        max-height: 100px;
    }
}

#main-content{
    min-height: 800px;
}
