<div class="jumbotron">
    <div class="container">
        <div *ngIf="isAdmin" class="">
            <div class="row">
                <h1 class="text-center col-12">Administrador</h1>
            </div>
        </div>
        <div *ngIf="isEducator" class="">
            <div class="row">
                <h1 class="text-center col-12">Persona Educadora</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5 col-md-3">
                <h1>{{ user.name }} {{ user.lastname }}</h1>
            </div>
            <div class="col-12 col-sm-5 col-md-2 offset-sm-2 offset-md-7 ">
                <img class="img-responsive rounded-circle
                7" [src]="user.imageUrl" [alt]="'image de perfil de' + user.name">
            </div>
        </div>
    </div>
</div>
<div class="container" id="main-content">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-3">
            <h1> Implementaciones de {{ implementable }}  </h1>
        </div>
    </div>
    <div *ngFor="let imp of implementations" class="row">
        <div class="card shadow col-12 my-3" [routerLink]="['/implementacion','ver', imp.id]" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span>Realizado por: {{ imp.educatorName }} {{ imp.educatorLastname }} </span>
                    </div>
                    <div class="col  d-flex justify-content-end">
                        <span>Fecha: {{ imp.date | date: 'dd/MM/yyyy' }} </span>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-12">
                        <span>Ubicación: {{ imp.location.name }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <span class="text-center"> <strong> Participantes </strong> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center"> Mujeres: {{ imp.femaleParticipants }} </div>
                    <div class="col d-flex justify-content-center"> Hombres: {{ imp.maleParticipants}} </div>
                    <div class="col d-flex justify-content-center"> Otros:  {{ imp.otherParticipants }} </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <span>Tocar para ver detalles</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(implementations.length === 0)" class="row mt-5">
        <div class="col-12">
            <h3 style="color: teal;">
                No hay implementaciones subidas
            </h3>
        </div>
    </div>
</div>
