<div class="jumbotron jumbotron-fluid header-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h1> {{ implementation.implementableName}} </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col  d-flex justify-content-center">
                        <span> {{ implementation.date | date: 'dd/MM/yyyy'  }}  </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-6">
                <p>Realizado por: {{ implementation.educatorName }}</p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <p>Estado: {{ statusFormat(implementation.completed) }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 col-sm-6 col-xl-7">
            <h4>Ubicación</h4>
            <!-- MAP API -->
            <div style="height: 300px;"
                leaflet 
                [leafletOptions]="options"
                [(leafletCenter)]="center"
                [(leafletLayers)]="layers">
            </div>
            <span class="btn btn-primary" (click)="showPos()" >Actualizar Posición</span>
            <span> {{currentPosition}} </span>
        </div>
        <div class="col-sm col-xl">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-success btn-sm col-12" (click)="onSave()">Guardar Cambios</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-warning btn-sm col-12" (click)="onComplete()" >Finalizar implementación</button>
                </div>
            </div>
            <form [formGroup]=form>
                <div class="row">
                    <div class="col-12">
                        <span class="text-center"> Participantes </span>
                    </div>
                </div>
                <div class="row">
                    <label for="femaleParticipants" class="col-xl-2 col-form-label"> Mujeres </label>
                    <div class="col-xl-10">
                        <input type="number" formControlName=femaleParticipants class="form-control" [(ngModel)]="implementation.femaleParticipants">
                    </div>
                    <label for="maleParticipants" class="col-xl-2 col-form-label"> Hombres </label>
                    <div class="col-xl-10">
                        <input type="number" formControlName=maleParticipants class="form-control" [(ngModel)]="implementation.maleParticipants">
                    </div>
                    <label for="otherParticipants" class="col-xl-2 col-form-label"> Otro </label>
                    <div class="col-xl-10">
                        <input type="number" formControlName=otherParticipants class="form-control" [(ngModel)]="implementation.otherParticipants">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="date" class="col-2 col-form-label">Fecha</label>
                        <input type="date" class="form-control" formControlName="date" [(ngModel)]="implementation.date">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="col-12">
                <h3>Actividades</h3>
            </div>
            <div class="col">
                <app-displayer [sections]="activities"></app-displayer>
            </div>
            <div class="col-12">
                <h3>Preguntas de evaluación</h3>
            </div>
            <div class="col">
                <app-display-questions [questions]="questions" [answers]="answers" [editing]="true" ></app-display-questions>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <h3> Evidencias de trabajo </h3>
            <app-edit-files [files]="files" [moduleFiles]="moduleFiles" [deletedModuleFiles]="deletedModuleFiles"></app-edit-files>
            <div class="row" style="margin-top: 200px;">
                <h2>Zona Peligrosa</h2>
            </div>
            <div class="row border rounded border-danger mb-md-5">
                <div class="col-8 my-3">
                    <div class="row" style="margin-left: 12px;">
                        <h5 class="text-bold">Eliminar implementación</h5>
                    </div>
                    <div class="row" style="margin-left: 12px;">
                        <span class="text">
                            Posteriormente a esta acción, no se podrá recuperar
                        </span>
                    </div>
                </div>
                <div class="col-auto my-4 d-flex justify-content-end">
                    <span class="btn delete border" style="color: brown;" (click)="deleteImplementation()">Eliminar</span>
                </div>
            </div>
        </div>
    </div>
</div>
